@import '../../scss/variables.scss';
.ui.segment.dropzone-component {
  text-align: center;
  padding: 0px;
  font-size: 14px;
  border: 1px solid $border-main !important;
  width: 320px;
  height: 211px;
  .dropzone {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .prompt {
    position: absolute;
    top: 67px;
    left: 0px;
    right: 0px;
  }
  em {
    line-height: 1.3;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 20px;
    font-size: 12px;
  }
  .icon.upload, .file-display, .brw-btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .icon.upload {
    font-size: 40px;
    color: #213c51;
    top: 23px;
  }
  .file-display {
    position: absolute;
    width: 100%;
    top: 75px;
  }
  .brw-btn {
    width: 80px;
    height: 40px;
    border-radius: 0px;
    top: 115px;
  }
  .re-upload {
    width: 120px;
  }
  &.light {
    .browse-btn, .re-upload {
      background-color: #41c9e3;
      color: black;
    }
  }
  &:not(.light) {
    background-color: $panel-med-dark !important;
  }
}
