@import '../../scss/variables.scss';
.ui.button.brw-btn.brw-hint-btn {
  display: inline-block;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid $heading-color !important;
  box-shadow: none !important;
  &.has-text {
    padding-left: 10px;
    padding-right: 10px;
  }
  .ui.pointing.label {
    display: none;
    position: absolute;
    top: -40px;
    z-index: 1200;
    left: 50%;
    transform: translate(-50%, 0);
  }
  &:hover .ui.label {
    display: block;
  }
}
