$primary_10: #aff3ff;
$primary_20: #7ee5f7;
$primary_30: #40c7e3;
$primary_40: #20b2d1;
$primary_50: #1fa7ba;
$primary_60: #156595;

$red_10: #a45a52;
$red_20: #822222;
$red_30: #800000;
$red_40: #8d021f;
$red_50: #5e1914;
$red_60: #420d09;

$green_10: #caf284;
$green_20: #94c640;
$green_30: #7fc12f;
$green_40: #65b821;
$green_50: #047518;
$green_60: #025c22;

$blue_10: #c7efef;
$blue_20: #81d0fd;
$blue_30: #4ac2fa;
$blue_40: #2080df;
$blue_50: #0862c6;
$blue_60: #000180;

$dark_grey_10: #426e89;
$dark_grey_20: #3d627d;
$dark_grey_30: #2a4d46;
$dark_grey_40: #28472e;
$dark_grey_50: #203f54;
$dark_grey_60: #1a3342;
$dark_grey_70: #142636;
$dark_grey_80: #000;

$light_grey_10: #fff;
$light_grey_20: #dfeaf5;
$light_grey_30: #c5d5e8;
$light_grey_40: #b6cadd;
$light_grey_50: #a4bad0;
$light_grey_60: #94b8cc;
$light_grey_70: #82a9bf;
$light_grey_80: #6492ac;
