$panel-light: #bbd;

$panel-dark: #35353a;
$panel-v-dark: #262723;

$disabled-button: #667;

$border-main: gray;
$border-dark: #333;

$green: #94c940;
$darker-green: #352;

$panel-v-light: #d2dbef;
$panel-med-light: #595d66;
$panel-med-dark: #31333d;
$panel-main: #3f444f;
$heading-color: #b3bac8;

$blue: #2185D0;
$green: #21BA45;
$red: #DB2828;
$yellow: #EAAE00;
$orange: #E76B00;
